<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-title>
        Listes des courses
      </ion-title>
      <ion-button [routerLink]="['/add-or-edit-list']">
        <ion-icon name="add">
        </ion-icon>
      </ion-button>
     
    </ion-row>
  </ion-toolbar>
    

</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
  
  <ion-item-sliding *ngFor="let listesCourse of listesCourses"> 
  <ion-item [routerLink]="['/detail-liste',listesCourse.id]">
  <ion-icon slot="start" name="basket"> </ion-icon>
  <ion-label>{{listesCourse.nom}} {{listesCourse.etat}}</ion-label>
  <ion-button >
    <ion-icon slot="icon-only" name="ellipsis-horizontal-outline"></ion-icon>
  </ion-button>
  </ion-item> 
  </ion-item-sliding>
  </ion-list> 
 </ion-content>
 